<h1>Ski Lease Calendar - New Entry</h1>

<div class="body">
  <%= render 'form' %>
</div>

<div class="footer">
  <%= link_to 'Calendar View', calendar_path %> | 
  <%= link_to 'List View', events_path %>
</div>